<div class="row">
  <div class="col-xs-4">
    <a href="#/notebooks/<%= notes.notebook.id %>/notes/new" 
    class="btn btn-primary"> + New Note </a>
  </div>
  <div class="col-xs-4">
    <button class="btn btn-default" id="edit-notebook">Edit Notebook</button>
  </div>
  <div class="col-xs-4">
    <button class="btn btn-danger" data-toggle="modal" 
      data-target="#delete-notebook-modal"> Delete Notebook </button>
  </div>
</div>
<br>

<b><u><%= notes.notebook.escape("name") %>'s Notes</u></b>
<br>
<div class="bs-sidebar">
  <ul class="nav bs-sidebar">
    <% notes.each(function (note) { %>
      <li><a href="#/notes/<%=note.id%>">
        <%= note.escape("title") %></a></li>
    <% }); %>
  </ul>
</div>


<div class="modal" id="delete-notebook-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4> Confirm Notebook Deletion </h4>
      </div>
      <div class="modal-body">
        <p> Are You Sure You Want To Delete 
        '<%= notes.notebook.escape("name") %>' and All Notes In It? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" 
          id="delete-notebook" data-id="<%= notes.notebook.id %>">
            Delete </button>
      </div>
    </div>
  </div>
</div>

