<button type="button" class="btn btn-danger" data-toggle="modal" 
  data-target="#delete-note-modal"> Delete Note </button>
<br>
<div class="row" id="note-stat">
  <div class="col-xs-6">
    Created: <%= new Date(note.get("created_at")) %>
  </div>
  <div class="col-xs-6">
    Last Edited: <%= new Date(note.get("updated_at")) %>
  </div>
</div>
<br>
<div class="note-tag-area">
  <div class="btn-group">
    <button class="btn btn-default btn-xs dropdown-toggle" type="button" 
      data-toggle="dropdown"> + Tag <span class="caret"></span></button>
    <ul class="dropdown-menu">
      <li><a href=""> Tags </a></li>
      <li><a href=""> Are </a></li>
      <li><a href=""> Coming </a></li>
      <li><a href=""> Soon </a></li>
    </ul>
  </div>
  <span class="label label-info">Current Tags:</span>
  <br>
</div>
<br>

<div class="note-title">
<h3 class="note" id="title"> <%= note.escape("title") %> </h3>
</div>
<br>

<div class="note-body">
<p class="note" id="body"> <%= note.escape("body") %> </p>
</div>
<br>

<div class="modal" id="delete-note-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4> Confirm Note Deletion </h4>
      </div>
      <div class="modal-body">
        <p> Are You Sure You Want to Delete '<%= note.escape("title") %>' 
          Forever? </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          Cancel</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" 
          id="delete-note" data-id="<%= note.id %>"> Delete </button>
      </div>
    </div>
  </div>
</div>